<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12 top-button" >
                 <mat-spinner *ngIf="dataLoading"></mat-spinner>
                    <button  *ngIf="!dataLoading" type="submit" class="btn btn-info" (click)="addNewProperty()">Add a new property</button>
                </div>
                <div class="col-md-2" >
                    </div>
                <div class="col-md-8" >
                <div class="alert alert-danger" *ngIf="!dataLoading && properties.length === 0">
                         <span>
                            <b> No properties are present.</b></span>
                    </div>
                    </div>
                <div class="col-md-12" *ngIf="!dataLoading && properties.length > 0"> 
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Properties</h4>
                        <p class="card-category">List of registered properties.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Sales deed number
                                    </th>
                                    <th>
                                        Stamp duty number
                                    </th>
                                    <th>
                                        Property id

                                    </th>
                                    <th>
                                        Tenant avaliable

                                    </th>
                                    <th>
                                        Verified
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let property of properties">
                                        <td>
                                            {{property.salesDeedNumber}}
                                        </td>
                                        <td>
                                            {{property.stampDutyNumber}}
                                        </td>
                                        <td>
                                            {{property.propertyId}}
                                        </td>
                                        <td>
                                            {{property.hasTenants}}
                                        </td>
                                        <td class="text-primary">
                                            {{property.verified}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>