ul,
li {
      margin: 0;
      padding: 0;
      list-style: none;
}

#file-label {
      display: inline-flex;
      vertical-align: middle;
      font-size: 12px;
      line-height: 18px;
}

#file-label mat-icon {
      font-size: 18px;
      text-align: center;
}

.e-sign {
      width: 32PX;
      height: 40PX; 
}
#file-label a {
      cursor: pointer;
}
.mat-form-field {
      display: inline-block !important;
      width: 200px;
      margin-right: 20px;
}